@model IEnumerable<Eshop.Models.Category>
@using GridMvc.Html

@{
    ViewBag.Title = "Categories";
}

<h2>CategoriesGrid</h2>

<p>
    @Html.ActionLink("Add New Category","Edit", new { id = -1 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Category })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Category })
        </td>
    </tr>
    }

</table>
